.databricks/
build/
# dist/
__pycache__/
*.egg-info
.venv/
scratch/**
!scratch/README.md
**/explorations/**
**/!explorations/README.md
node_modules/
.DS_Store
.env*
*.log
npm-debug.log*
*.tsbuildinfo
